*.iml
.gradle
/local.properties
local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/build
app/release
app/debug
*.apk
*.aab
*.keystore
!debug.keystore
keystore/
__pycache__/
*.pyc

dist/
